<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="TempServers provides game server hosting at a flat hourly rate." />
<meta name="keywords" content="game server, game server hosting, game server rental, temporary server, counter-strike, cs, css, team fortress, tf, tf2, steam, source" />
<title>{TITLE} - TempServers - Hourly Game Server Rentals</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link href="css/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <a href="/"><img src="images/header.gif" height="92" width="460" alt="TempServers" /></a>
    <div id="status">{STATUS}</div>
  </div>
  <div id="nav">
    <div><a href="home">Home</a> <a href="faq">FAQ</a> <a href="setup">Server Booking</a> <a href="panel">Server CP</a> <a href="support">Support</a></div>
  </div>
  <div id="content">
    {CONTENT}
  </div>
  <div class="clear"></div>
</div>
<div id="footer">Copyright &copy; 2009-2010 TempServers. All rights reserved. <a href="terms">Terms and Conditions</a></div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5206611-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
